.docBody {
  flex: 3;
  overflow-y: auto;
  padding: 1rem 2rem;
}

.docBody::-webkit-scrollbar {
  width: 6px;
}

.docBody::-webkit-scrollbar-track {
  background: var(--colbo);
  border-radius: 12px;
}

.docBody::-webkit-scrollbar-thumb {
  background: rgb(31, 30, 30);
  border-radius: 6px;
}

.docBody .docBodyDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.docBody .docBodyDiv h2 {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--colbo);
}

.docBody .docBodyDiv h4 {
  padding: 1rem 0;
}

.docBody .docBodyDiv p {
  line-height: 1.6;
  color: var(--cold);
}

.docBody .docBodyDiv p span {
  color: var(--colb);
}

.docBody .docBodyDiv ul {
  color: var(--cold);
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.4;
}

.docBody .docBodyDiv ul li span {
  color: var(--colb);
}