.docIntro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.docIntro h2 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--colbo);
}

.docIntro h4 {
    padding: 1rem 0;
}

.docIntro p {
    line-height: 1.6;
    color: var(--cold);
}

.docIntro p span {
    color: var(--colb);
}

.docIntro ul {
    color: var(--cold);
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.4;
}