.buildPage {
    margin-top: 70px;
    min-height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.buildPage img {
    width: 70px;
}

.buildPage h2 {
    font-size: 3rem;
}

@media (max-width: 767px) {
    
    .buildPage {
        flex-direction: column;
        text-align: center;
    }
}