#whatIs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 3rem 0;
    text-align: center;
}

#whatIs h2 {
    font-size: 3rem;
}

/* Text */

#whatIs .whatIsp {
    max-width: 60%;
    line-height: 2;
    color: var(--cold);
}

/* Table */

#whatIs .whatIsSect {
    display: flex;
    max-width: 1000px;
    width: 90%;
    margin: 2rem 0;
    padding: 1rem;
    box-shadow: 0px 0px 5px var(--colbo);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#whatIs .whatIsSect div {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    line-height: 1.4;
}

#whatIs .whatIsSect div p {
    color: var(--cold);
}

#whatIs .whatIspp {
    max-width: 800px;
    width: 90%;
    line-height: 1.4;
    color: var(--cold);
}

#whatIs p span {
    color: var(--cola);
}

#whatIs img {
    max-width: 600px;
    width: 80%;
    margin: 4rem 0;
    box-shadow: 0px 0px 5px #0f0f0f;
}

@media (max-width: 767px) {

    #whatIs h2 {
        font-size: 2rem;
    }

    #whatIs .whatIsp {
        max-width: 90%;
    }

    #whatIs .whatIsSect {
        flex-direction: column;
        gap: 2rem;
    }
}