.blogArq {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 800px;
    width: 90%;
    margin: 3rem auto;
}

.blogArq {
    line-height: 1.6;
    color: var(--cold);
}

.blogArq section {
    padding: 2rem 0;
}

.blogArq section h4 {
    color: var(--cola);
}

.blogArq section ul {
    margin-left: 1.2rem;
}