.footer {
    min-height: 100vh;
    padding: 3rem 1rem 1rem 1rem;
    background-color: #131212;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Title */

.footer .footerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
    color: var(--colc);
}

.footer .footerTitle img {
    width: 35px;
}

.footer .footerTitle h2 {
    font-size: 2rem;
}

/* Body */

.footer .footerSect {
    display: flex;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.footer .footerSect a {
    text-decoration: none;
    color: var(--cold);
}

.footer .footerSect a:hover {
    color: var(--colc);
}

.footer .footerBot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid rgba(128, 128, 128, 0.253);
}

.footer .footerBot .footerSocial {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer .footerBot .footerSocial h2 {
    color: gray;
}

.footer .footerBot .footerBotCond {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1rem;
    color: gray;
    font-size: 12px;
}

.footer .footerBot .footerBotCond a {
    text-decoration: none;
    color: gray;
}

@media (max-width: 767px) {

    .footer {
        width: 100%;
        justify-content: center;
    }

    /* Body */

    .footer .footerSect {
        flex-direction: column;
        margin: 4rem 0;
        gap: 2rem;
        align-items: center;
        text-align: center;
    }

    .footer .footerBot {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .footer .footerBot .footerSocial {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }
}